/* begin icon */
.icon-cup_add{	
	background:url('icons/cup_add.png') no-repeat center center;
}
.icon-comment{	
	background:url('icons/comment.png') no-repeat center center;
}
.icon-user_mature{	
	background:url('icons/user_mature.png') no-repeat center center;
}
.icon-client{	
	background:url('icons/client.png') no-repeat center center;
}
.icon-complaint{	
	background:url('icons/complaint.png') no-repeat center center;
}
.icon-unlock{	
	background:url('icons/unlock.png') no-repeat center center;
}
.icon-pause_blue{	
	background:url('icons/pause_blue.png') no-repeat center center;
}
.icon-home{	
	background:url('icons/home.png') no-repeat center center;
}
.icon-world_edit{	
	background:url('icons/world_edit.png') no-repeat center center;
}
.icon-clipboard{	
	background:url('icons/clipboard.png') no-repeat center center;
}
.icon-document{	
	background:url('icons/document.png') no-repeat center center;
}
.icon-bbs_detail{	
	background:url('icons/bbs_detail.png') no-repeat center center;
}
.icon-people{	
	background:url('icons/people.png') no-repeat center center;
}
.icon-folder_go{	
	background:url('icons/folder_go.png') no-repeat center center;
}
.icon-accept{
	background:url('icons/accept.png') no-repeat center center;
}
.icon-cancel1{
	background:url('icons/cancel1.png') no-repeat center center;
}
.icon-tick{
	background:url('icons/tick.png') no-repeat center center;
}
.icon-pwd{
	background:url('icons/pwd.png') no-repeat center center;
}
.icon-excel{
	background:url('icons/excel.png') no-repeat center center;
}
.icon-arrow_right{
	background:url('icons/arrow_right.png') no-repeat center center;
}
.icon-arrow_turn_left{
	background:url('icons/arrow_turn_left.png') no-repeat center center;
}
.icon-arrow_turn_right{
	background:url('icons/arrow_turn_right.png') no-repeat center center;
}
.icon-person{
	background:url('icons/person.png') no-repeat center center;
}
.icon-user{
	background:url('icons/user.png') no-repeat center center;
}
.icon-user_edit{
	background:url('icons/user_edit.png') no-repeat center center;
}
.icon-user_add{
	background:url('icons/user_add.png') no-repeat center center;
}
.icon-user_delete{
	background:url('icons/user_delete.png') no-repeat center center;
}
.icon-user_key{
	background:url('icons/user_key.png') no-repeat center center;
}
.icon-user_brown{
	background:url('icons/user_brown.png') no-repeat center center;
}
.icon-user_comment{
	background:url('icons/user_comment.png') no-repeat center center;
	}
.icon-disk_download{
	background:url('icons/disk_download.png') no-repeat center center;
	}
.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}
.icon-lightning{
	background:url('icons/lightning.png') no-repeat ;
}
.icon-script_code{
	background:url('icons/script_code.png') no-repeat ;
}
.icon-cog{
	background:url('icons/cog.png') no-repeat center center;
}
.icon-message{
	background:url('icons/message.png') no-repeat center center;
}
.icon-messages{
	background:url('icons/messages.png') no-repeat center center;
}
.icon-messages_alt{
	background:url('icons/messages_alt.png') no-repeat center center;
}
.icon-camera-red{
	background:url('icons/camera-red.png') no-repeat center center;
}
.icon-email{
	background:url('icons/email.png') no-repeat center center;
}
